# http://docs.travis-ci.com/user/languages/objective-c/
# https://github.com/facebook/xctool

language: objective-c

osx_image: xcode7

xcode_project: SwiftExpression/SwiftExpression.xcodeproj
xcode_scheme: SwiftExpression

script: xctool -project SwiftExpression/SwiftExpression.xcodeproj -scheme SwiftExpression build CODE_SIGN_IDENTITY="" CODE_SIGNING_REQUIRED=NO
